In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass

In [2]:
password = getpass.getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

**1. How many distinct (different) actors' last names are there?**

In [4]:
data = pd.read_sql_query('SELECT * FROM actor', engine)
actors_lastnames = list(data['last_name'].unique())
actors_lastnames

['GUINESS',
 'WAHLBERG',
 'CHASE',
 'DAVIS',
 'LOLLOBRIGIDA',
 'NICHOLSON',
 'MOSTEL',
 'JOHANSSON',
 'SWANK',
 'GABLE',
 'CAGE',
 'BERRY',
 'WOOD',
 'BERGEN',
 'OLIVIER',
 'COSTNER',
 'VOIGHT',
 'TORN',
 'FAWCETT',
 'TRACY',
 'PALTROW',
 'MARX',
 'KILMER',
 'STREEP',
 'BLOOM',
 'CRAWFORD',
 'MCQUEEN',
 'HOFFMAN',
 'WAYNE',
 'PECK',
 'SOBIESKI',
 'HACKMAN',
 'DEAN',
 'DUKAKIS',
 'BOLGER',
 'MCKELLEN',
 'BRODY',
 'DEGENERES',
 'MIRANDA',
 'JOVOVICH',
 'STALLONE',
 'GOLDBERG',
 'BARRYMORE',
 'DAY-LEWIS',
 'CRONYN',
 'HOPKINS',
 'PHOENIX',
 'HUNT',
 'TEMPLE',
 'PINKETT',
 'HARRIS',
 'CRUISE',
 'AKROYD',
 'TAUTOU',
 'NEESON',
 'WRAY',
 'HUDSON',
 'TANDY',
 'BAILEY',
 'WINSLET',
 'MCCONAUGHEY',
 'GRANT',
 'WILLIAMS',
 'PENN',
 'KEITEL',
 'POSEY',
 'ASTAIRE',
 'SINATRA',
 'CRUZ',
 'DAMON',
 'JOLIE',
 'WILLIS',
 'PITT',
 'ZELLWEGER',
 'CHAPLIN',
 'PESCI',
 'DENCH',
 'PRESLEY',
 'HAWKE',
 'BRIDGES',
 'DEPP',
 'LEIGH',
 'CROWE',
 'DUNST',
 'NOLTE',
 'DERN',
 'BACALL',
 'MCDORMAND',
 'BALE',
 'ALLEN',
 'JACKMAN',
 'MONROE',
 'BERGMAN',
 'BENING',
 'TOMEI',
 'GARLAND',
 'HOPPER',
 'REYNOLDS',
 'MANSFIELD',
 'DEE',
 'GOODING',
 'HURT',
 'RYDER',
 'WITHERSPOON',
 'HESTON',
 'GIBSON',
 'MALDEN',
 'BASINGER',
 'HOPE',
 'WEST',
 'BULLOCK',
 'WILSON',
 'PFEIFFER',
 'DREYFUSS',
 'SILVERSTONE',
 'CARREY',
 'CLOSE',
 'BALL',
 'BIRCH',
 'SUVARI',
 'WALKEN']

In [5]:
len(actors_lastnames)

121

In [6]:
#Or we can also do this the SQL way
pd.read_sql_query('SELECT COUNT(distinct actor.last_name) FROM sakila.actor;', engine)

   COUNT(distinct actor.last_name)
0                              121

**2. Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.**

In [7]:
query = 'SELECT * FROM rental;'

In [8]:
weekday = pd.read_sql_query(query, engine)

In [9]:
weekday['weekday'] = weekday['rental_date'].dt.day_name()

In [10]:
weekday.head(10)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,weekday
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,Tuesday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,Tuesday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,Tuesday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,Tuesday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,Tuesday
5,6,2005-05-24 23:08:07,2792,549,2005-05-27 01:32:07,1,2006-02-15 21:30:53,Tuesday
6,7,2005-05-24 23:11:53,3995,269,2005-05-29 20:34:53,2,2006-02-15 21:30:53,Tuesday
7,8,2005-05-24 23:31:46,2346,239,2005-05-27 23:33:46,2,2006-02-15 21:30:53,Tuesday
8,9,2005-05-25 00:00:40,2580,126,2005-05-28 00:22:40,1,2006-02-15 21:30:53,Wednesday
9,10,2005-05-25 00:02:21,1824,399,2005-05-31 22:44:21,2,2006-02-15 21:30:53,Wednesday

In [11]:
def weekday_weekend(x):
    if x in ['Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday']:
        return 'workday'
    else:
        return 'weekend'

In [12]:
weekday['day_type'] = list(map(weekday_weekend, weekday['weekday']))

In [13]:
weekday

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,weekday,day_type
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53,Tuesday,workday
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53,Tuesday,workday
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53,Tuesday,workday
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53,Tuesday,workday
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53,Tuesday,workday
...,...,...,...,...,...,...,...,...,...
16040,16046,2005-08-23 22:26:47,4364,74,2005-08-27 18:02:47,2,2006-02-15 21:30:53,Tuesday,workday
16041,16047,2005-08-23 22:42:48,2088,114,2005-08-25 02:48:48,2,2006-02-15 21:30:53,Tuesday,workday
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53,Tuesday,workday
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53,Tuesday,workday
16044,16050,2022-02-28 12:37:41,1,130,NaT,1,2022-02-28 12:37:41,Monday,workday

**3. Get all films with ARMAGEDDON in the title.**

In [46]:
query = '''SELECT * FROM film f;'''

film = pd.read_sql_query(query, engine)

In [53]:
for i in film['title']:
    if "ARMAGEDDON" in i:
        print(i)

ARMAGEDDON LOST
LADYBUGS ARMAGEDDON
METAL ARMAGEDDON
MOSQUITO ARMAGEDDON
STAGECOACH ARMAGEDDON
STEERS ARMAGEDDON

**4.Get 10 the longest films.**

In [56]:
query_longest = '''SELECT title FROM film
ORDER BY length DESC
LIMIT 10;'''

film_longest = pd.read_sql_query(query_longest, engine)

In [57]:
film_longest

                title
0      DARN FORRESTER
1        POND SEATTLE
2       CHICAGO NORTH
3       MUSCLE BRIGHT
4        WORST BANGER
5         GANGS PRIDE
6  SOLDIERS EVOLUTION
7           HOME PITY
8   SWEET BROTHERHOOD
9      CONTROL ANTHEM

**5. How many films include Behind the Scenes content?**

In [66]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [69]:
btss = []
for bts in film['special_features']:
    if "Behind the Scenes" in bts:
        btss.append(bts)
        print(bts)

Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Trailers,Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Deleted Scenes,Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Deleted Scenes,Behind the Scenes
Deleted Scenes,Behind the Scenes
Commentaries,Behind the Scenes
Commentaries,Deleted Scenes,Behind the Scenes
Behind the Scenes
Deleted Scenes,Behind the Scenes
Behind the Scenes
Trailers,Commentaries,Behind the Scenes
Trailers,Behind the Scenes
Deleted Scenes,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Behind the Scenes
Trailers,Commentaries,Behind the Scenes

In [70]:
#No. of films with Behind hte Scenes
len(btss)

538

**6.Which kind of movies (rating) have a mean duration of more than two hours?**

In [76]:
query = '''SELECT rating, avg(length) FROM sakila.film 
GROUP BY rating
HAVING avg(length) > 120;'''

film_two_hours = pd.read_sql_query(query, engine)

In [77]:
film_two_hours

  rating  avg(length)
0  PG-13     120.4439

**7. Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.**

In [86]:
query = '''SELECT title, length, dense_rank() OVER (order by length DESC) AS rank_length FROM film;'''

film_length_rank = pd.read_sql_query(query, engine)

In [87]:
film_length_rank

                   title  length  rank_length
0          CHICAGO NORTH     185            1
1         CONTROL ANTHEM     185            1
2         DARN FORRESTER     185            1
3            GANGS PRIDE     185            1
4              HOME PITY     185            1
..                   ...     ...          ...
995         ALIEN CENTER      46          140
996            IRON MOON      46          140
997        KWAI HOMEWARD      46          140
998     LABYRINTH LEAGUE      46          140
999  RIDGEMONT SUBMARINE      46          140

[1000 rows x 3 columns]